/*
Copyright 2019 Joyce Emanuele, Wellington Cesar
This file is part of Tradutor de expressões regulares (TdER).
*/

html, body {
  margin: 0;
  padding: 0;
}

form {
  margin-left: 50px;
}

textarea {
  margin-left: 20px;
  width: 40%;
  padding: 10px;
  border: 3px solid #8ebf42;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
}

textarea#det {
  left: 48%;
  height: 465px;
  cursor: grab;
}

input[type=text], select {
  position: absolute;
  margin-left: 20px;
  width: 40%;
  padding: 10px;
  border: 3px solid #8ebf42;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  left: 20px;
  height: 10px;
}

input[type=text]:hover {
  background: #dddddd;
}

#c {
  border: 3px solid #8ebf42;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 130px;
  left: 50px;
}

h3 {
  font-family: sans-serif;
  font-size: large;
  position: absolute;
  top: 85px;
  left: 55px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  size: 20px;
  cursor: pointer;
  border-radius: 1em;
  position: absolute;
  margin: 20px 30%;
  width: 36%;
  height: 50px;
  top: 530px;
}

h1 {
  margin-left: 5px;
  font-family: sans-serif;
  font-size: large;
}

h2 {
  font-family: sans-serif;
  font-size: large;
  position: absolute;
  top: -3px;
  left: 50%;
}
